<%- include ('partials/header') %>

    <main class="container">
        <div><h3 class="error">No se encontraron búsquedas. Intenta con otra palabra</h3></div>
    </main>

    <%- include ('partials/footer') %>