<footer>
    
    <div>
        
        Elaborado con ❤️ by <a href="mailto:hernandw@gmail.com">Williams Hernández</a>- Todos los Derechos Reservados © <%= new Date().getFullYear();%>
    </div>
</footer>
<script src="/js/dark-mode.js"></script>
</body>

</html>